/* .background{
    height: 300px;
    width: 600px;
   
} */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
body {
    margin: 0px;
}
#header {
    /* background-color: #86C8BC; */
    height: 50px;
    /* border: 1px solid white; */
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.logo {
    /* border: solid red 2px; */
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    width: 200px;
}
.logo img {
    height: 40px;
    width: 44px;
}
.logoname {
    position: absolute;
    top: 10px;
    left: 70px;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}
.container {
    background-color: rgb(21, 20, 20);
}

.mid {
    margin: auto;
    width: 50%;
    /* border: solid yellow 2px; */
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    margin-left: 144px;
    font-size: 22px;
    position: absolute;
    top: 10px;
}
.container img {
    width: 1240px;
    position: relative;
    height: 47rem;
}
nav a {
    text-decoration: none;
    padding: 0px 10px;
    font-family: 'Merriweather', serif;
    color: white;
}
nav a:hover {
    color:#FF7B54;
}
.fa-bars:before {
    content: "\f0c9";
}
.right {
    /* border: solid green 2px; */
    display: inline-block;
    margin-left: 639px;
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 0px;
}
.button {
    margin: 0px 6px;
    border: 2px solid #FF7B54;
    border-radius: 20px;
    color: rgb(238, 241, 240);
    height: 35px;
    width: 80px;
    background-color: #FF7B54;
    font-family: 'Merriweather', serif;
}
div.forms {
    height: 80px;
    width: auto;
    position: absolute;
    bottom: 28rem;
    left: 30%;
    top: 15rem;
    /* border: 3px solid white; */
    border-radius: 10%;
    color: aliceblue;
    font-size: 30px;
    
   
}
.normaltext{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-decoration:double;
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: -55px;
    margin-bottom: 8px;
}
.joinbtn{
   border: 2px solid #FF7B54;
 border-radius: 20px;
    color: rgb(238, 241, 240);
    height: 35px;
    width: 80px;
    background-color: #FF7B54;
    font-family: 'Merriweather', serif;
}
.joinbtn:hover{
    background-color: white;
    color:#FF7B54;
    border: 2px solid white;
}
.forms h1 em {
    color: #FF7B54;
}
.button:hover {
    background-color: white;
    color:#FF7B54;
    border: 2px solid white;
}
#downpage{
    background-color: lightyellow;
    color: #FF7B54;
    height: 50rem;
    width: 1240px;
    position: relative;
    z-index: 1000;
}
#downpage div p{
    font-size: 20px;
    font-family: inherit;
}

div .facilities{
    position: relative;
    margin-left: 45%;
    border: solid #FF7B54;
    border-width: 4px 0px 4px 0px;
    text-align: center;
    display: inline-block;
    
}
/* for image gallary */
.box1{
    /* border: 2px solid red; */
    background-color: rgb(204, 251, 251);
    display: inline-block;
    height: 250px;
    width: 250px;
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    cursor:pointer;
    
   }
   .imgbox1{
    /* border: 2px solid red; */
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
   }
   .imgbox1:hover{
    opacity: 70%;
    
   }
/* product page  */
.product-page{
    height: 30rem;
    width: 1240px;
    background-color: #CFF5E7;
    position: relative;
}
.product-page h1{
    position: absolute;
    top: 2px;
    left: 45%;
    border: solid #FF7B54;
    border-width: 4px 0px 4px 0px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}
#pbox{
    position: relative;
}
.pbox1{
    /* border: 2px solid red; */
    background-color: rgb(204, 251, 251);
    display: inline-block;
    height: 350px;
    width: 250px;
    position: relative;
    margin-left: 40px;
    margin-top: 89px;;
    cursor:pointer;
    
}
.pbox{
    position: relative;
}
.pbox-content h1{
    font-size: 18px;
    background-color: black;
    color: white;
    border: 2px solid black;
    width: 250px;
    position: absolute;
    top: 245px;
    left: 0px;
  
}

.buynow{
    position:  relative;
    top: 50px;
}
/* footer design */
.footer{
    background-color: black;
    height: 10rem;
    width: 1240px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 0px;
}
.footer1 p{
    position: absolute;
    bottom: 5px;
    left: 45%;
    margin-block-start: 0px;
}
.contact {
    color: white;
    position: absolute;
    left: 5px;
    bottom: 5px;
    text-align: left;
    
    
}
